<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('./share/head') %>
</head>

<body>
    <h3>皮卡丘</h3>
    <%- include('./share/footer') %>
</body>

</html>